{% load static %}
<html lang="en">
<head>
	<title>{% block title %}Color Likenatorizer{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	{% load cache %}
	{% cache 100 css %}
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
	{% endcache %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
	{% if show_nav %}
	<div class="navbar navbar-light bg-light navbar-expand-sm sticky-top justify-content-end">
		<nav class="navbar-nav">
			<a class="nav-link nav-item" href="{% url 'vote' %}">Vote</a>
			<a class="nav-link nav-item" href="{% url 'results' %}">Results</a>
		</nav>
	</div>
	{% endif %}
	{% block content %}{% endblock %}
</body>
</html>