{% extends "base.html" %}
{% block title %}Vote: Color Likenatorizer{% endblock %}
{% block content %}
<div class="search_section">
	<label for="color_input">What color does <span class="fancy">{{ word }}</span> make you think of?</label>
	<form action="vote/{{ word }}" method="post">
		{% csrf_token %}
		{{ form.as_table }}
		<button class="btn" type="submit">Vote on Color</button>
	</form>
</div>
{% load static %}
<script type='text/javascript' src="{% static "vote.js" %}"></script>
{% endblock %}